<footer class="highlight mt-16 pt-8 pb-8 text-xs text-center">
  <p class="px-4">
    <strong>&copy; {% year %} {{ author.name }}</strong> All rights reserved.
  </divp>
  <p class="px-4 pt-4"> 
    This project is in-progress and can be found at <a href="{{author.project_link}}" target="_blank" class="text-[#50d71e]" rel="noreferrer" alt="Github page for Resume Builder">GitHub</a>.
  </p>
</footer>