<section>
  <h3 class="font-header font-semibold text-xl uppercase mb-6 relative flex items-center">
    <span class="absolute w-1/2 h-full bg-gradient-to-r from-husky-500 via-husky-500 dark:from-husky-600 to-transparent"></span>
    <span class="relative z-10 mx-6">
      Intro
    </span>
  </h3>
  <div class="pb-8">
    <p>{{ author.intro }}</p>
  </div>
</section>

